<% if params[:user_id] %>
  <h3>Your Quest Log</h3>

  <%= render 'quests/quest_for_user', user: @user  %>
<% else %>
  <h3>Available Quests</h3>

  <%= render 'quests/all_quests', quests: @quests.sort_by_level_requirement %>
<% end %>

