
  <%= render 'all_tasks', tasks: @tasks  %>

<% if params[:user_id] %>
  <h3>Incomplete Tasks</h3>
  <%= render 'incomplete_tasks', tasks: @todo %>

  <br>

  <h3>Completed Tasks</h3>
  <%= render 'completed_tasks', tasks: @finished_tasks %>
<% end %>