
<% if params[:user_id] %>

  <%= render 'tasks/tasks_for_users_split', tasks: @tasks %> 
  
<% else %>

  <h3 class="title text-center">All Tasks</h3>

  <%= render 'all_tasks', tasks: @tasks  %>
  
<% end %>