
<% if params[:user_id] %>

  <fieldset>
    <legend><h3>Incomplete Tasks</h3></legend>
      <%= render 'incomplete_tasks', tasks: @tasks %>
   </fieldset>

  <br>

  <fieldset>
    <legend><h3>Completed Tasks</h3></legend>  
    <%= render 'completed_tasks', tasks: @tasks %>
  </fieldset>
  
<% else %>

  <fieldset>
    <legend><h3>All Tasks</h3></legend>
    <%= render 'all_tasks', tasks: @tasks  %>
  </fieldset>
  
<% end %>