
<% if params[:user_id] %>

  <%= render 'tasks/tasks_for_users_split', tasks: @tasks %> 
  
<% else %>

  <fieldset>
    <legend><h3>All Tasks</h3></legend>
    <%= render 'all_tasks', tasks: @tasks  %>
  </fieldset>
  
<% end %>