asfasjkdfasdfh
  <div class="error-box">
    <h3><%= pluralize(user.errors.count, "error") %> prohibited your account from being created:</h3>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div><br>
