<h3>Your progress</h3>

<p>Total Completed Tasks: <%= @user.tasks.finished.count %></p>
<p>Tasks Completed Today: <%= @user.tasks.completed_today.count %></p>

<p>Top Skill: <%= UserSkill.top_skill_by_user(@user).first.skill.name %></p>

     

<%= render 'user_skill_table', user: @user %>


 

