<h3>Your progress</h3>
User skills  | Show a list of uncomplete tasks | Show a list of completed tasks |



  <% @user.user_skills.each do |user_skill| %>
    <p class="skill_name"><%= link_to user_skill.skill.name, user_skill_path(@user, user_skill.skill) %></p>

    <p>Level: <%= user_skill.level %></p>
    <p>Exp: <%= user_skill.experience_pts %></p>

   
  <% end %>

