<h3>Register Here</h3>

<%= render 'show_errors', user: @user %>
<% if user.errors.any? %>
  <div class="error-box">
    <h3><%= pluralize(user.errors.count, "error") %> prohibited your account from being created:</h3>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div><br>
<% end %>

<%= render 'form' %>

