<h3 class="title text-center"><%= dashboard_greet(@user) %>'s profile</h3> 


<% if @user.user_quests %>

  <%= render 'users/stats_for_user', user: @user %>

<% else %>
  <h3 class="title text-center">Go check out the quest bulletin to add a quest.</h3>
<% end %>