<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-6">
      <h3 class="title text-center">Welcome to Real Life RPG</h3>
      <p class="text-center">This is meant to be a fun and interactive to-do list application where you can log everything you do and be rewarded for it.</p>

      <p>A few things you can do.</p>
      <ul>
      
        <li>Level up skills by completing quests and tasks.</li>
        <li>Create your own tasks.</li>
        <li>Visit the quest bulletin and accept quests.</li>
        <li>Reach level 50 to unlock the boss battle.</li>
        <li>Defeat the boss to become a Master.</li>
        <li>Create quests after becoming a Master.</li>
        <li>Visit the Highscores list to see how you rank with other players.</li>
        
      </ul>

    </div>
    <div class="col">
      
    </div>
  </div>
  



